doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(type="text/x-mathjax-config").
      MathJax.Hub.Config({
        TeX: {
          Macros: {
            ceec: ['{\\fbox{#1}}', 1],
            ceece: ['\\underline{\\  {\\fbox{#1}}\\  }', 1]
          }
        }
      });
    script(async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(style="padding:20px")
      if psets
        each pset in psets
          -var code=pset.code
          -var head=pset.head
          -var items=pset.items
          -var tail=pset.tail
          -var spacecount=pset.espacecount
          -var leadings=pset.leadings
          -var labels=pset.labels
          include ./singlepset
