h2 #{pset.code}
if pset.head
  p !{pset.head}
if pset.items && pset.items.length>0
  each item,itemindex in pset.items
    include ./item.pug
if pset.tail
  p !{pset.tail}
if pset.espacecount && pset.espacecount>0
  -var leadings=pset.leadings
  -var labels=pset.labels
  include ./spaces.pug
hr