extends purelayout
block entirebody
  div(style="padding:20px")
    if psets
      each pset in psets
        include ./singlepset
  form(method="post" id="testform")
    input(type='text' id='psetinfo' name='psetinfo' value=psetinfo hidden)
    p #[input(type="button" value="交卷" onclick="processForm()")]
  script.
    var psetinfo=JSON.parse(document.getElementById('psetinfo').value)
    function getResponse(){
      for (var i=0;i<psetinfo.length;i++){
        getOnePset(i)
      }
    }
    function getOnePset(i){
      for (var j=0;j<psetinfo[i].stdans.length;j++){
        getOneProblem(i,j)
      }
    }

    function getOneProblem(i,j){
      var element,subelements,parent
      var v
      switch(psetinfo[i].stdans[j].type){
        case 'S':
        case 'M':
          //parent=document.getElementById(`${psetinfo[i].code}`)
          subelements=document.getElementsByName(`${psetinfo[i].code}.${j+1}`)
          v=""
          for (var k=0;k<subelements.length;k++){
            if (subelements[k].checked) v=v+subelements[k].value
          }
          psetinfo[i].stdans[j].userans=v
          break
        case 'F':
          v=""
          for (var k=0;k<psetinfo[i].stdans[j].len;k++){
            element=document.getElementById(`${psetinfo[i].code}.${j+1}.${k+1}`)
            v=v+element.value
          }
          psetinfo[i].stdans[j].userans=v
          break
        case 'K':
          element=document.getElementById(`${psetinfo[i].code}.${j+1}`)
          psetinfo[i].stdans[j].userans=element.value
          break
      }
    }
    function processForm(ev){
      getResponse()
      document.getElementById('psetinfo').value=JSON.stringify(psetinfo)
      //alert(JSON.stringify(psetinfo))
      document.getElementById('testform').submit()
    }
